body {
  background-color: silver;
  margin: 0;
  padding: 0;
  background-image: url("back.jpg");
  background-size: cover;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  background-image: linear-gradient(to left, #f5f7fa, #c3cfe2);
  margin: 0% 25%;
  padding-bottom: 2%;
  border: 1px solid rgb(124, 119, 119);
  box-shadow: 5px 2px 3rem rgb(7, 7, 7);
}

/*Styling Top headere with name and some links*/
header {
  background-image: linear-gradient(to left, #50d5b7, #067d68);
  margin: 0% auto;
  padding: 2rem 1rem 6rem 1rem;
  border: 0.1px solid rgb(124, 119, 119);
  border-radius: 0em 0em 8% 8%;
  box-shadow: 0px 0px 1rem rgb(7, 7, 7);
  line-height: 0.9rem;
}
header h1 {
  margin-top: -2%;
  margin-left: 10%;
  font-family: sans-serif;
  font-size: 1.8rem;
  font-stretch: extra-expanded;
  color: white;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 20px black, 2px 2px 25px #7c0a02, 0 0 7px darkblue;
}
header p {
  margin-left: 10%;
  margin-top: -0.5%;
  font-family: sans-serif;
  font-size: 0.9rem;
  color: white;
  text-shadow: 5px 0px 10px black, 2px 2px 25px #7c0a02, 0 0 7px darkblue;
}
.Links {
  margin-left: 65%;
  margin-top: 0%;
}
header img {
  filter: brightness(95%);
  background-color: white;
  width: 40px;
  height: 34px;
  margin-left: 4%;
  border: 1px solid rgb(124, 119, 119);
  border-radius: 50%;
  box-shadow: 0.5px 1px 2px rgb(7, 7, 7);
  overflow: hidden;
}
header img:hover {
  transform: scale(1.08);
  transition: all 1s ease-in-out;
}



/* Start styling first box: profile*/

.profile {
  background-color: white;
  overflow: hidden;
  margin: -9% 10% 0% 10%;
  box-shadow: 0.5px 1px 10px rgb(7, 7, 7);
}
.picture {
  float: left;
  width: 35%;
  border: 3px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}
.picture img {
  filter: brightness(110%);
  width: 100%;
  height: 100%;
}
.view {
  margin-left: 35%;
  padding: 1%;
  font-family: sans-serif;
  line-height: 1.9rem;
}
.hello {
  float: right;
  width: 40%;
}
.view h2 {
  margin-left: 6%;
  margin-right: 40%;
  border-bottom: 1px solid #e1ebf0;
  font-family: hand;
  color: #13547a;
  letter-spacing: 0.9px;
  text-shadow: 0.1px 0.1px 2px rgb(150, 143, 143);
}
.view ul li {
  display: block;
  font-family: hand;
  font-style: oblique;
}
.head {
  margin-right: 1px;
  font-weight: 900;
  word-spacing: 1.3rem;
}

/* Start styling second box: Education*/
.Education {
  background-color: white;
  margin: 5% 10% 0% 10%;
  padding: 0.5px;
  box-shadow: 0.5px 1px 10px rgb(7, 7, 7);
}
.Education ul li {
  display: block;
  margin-left: -5%;
}

/*firts and third Education sections */
.Ed1 img,
.Ed3 img {
  float: left;
  background-color: white;
  width: 45px;
  height: 40px;
  margin-top: 10px;
  margin-left: 8px;
  border: 0.1px solid #0b9c69;
  border-radius: 5px;
  box-shadow: 0.5px 1px 2px rgb(7, 7, 7);
  overflow: hidden;
}
.Ed1 p,
.Ed3 p {
  background-image: linear-gradient(to left, #50d5b7, #067d68);
  margin-left: 9%;
  margin-right: 25%;
  padding: 7px;
  padding-left: 5%;
  border: 2px inset white;
  border-radius: 20rem 20rem 90rem 20rem;
  font-family: hand;
  color: white;
  box-shadow: 3px 3px 3px #777;
}
/*Second and fourth Education sections */
.Ed2 img,
.Ed4 img {
  float: right;
  background-color: white;
  width: 45px;
  height: 40px;
  margin-top: 10px;
  margin-right: 8px;
  border: 0.1px solid #0b9c69;
  border-radius: 5px;
  box-shadow: 0.5px 1px 2px rgb(7, 7, 7);
  overflow: hidden;
}
.Ed2 p,
.Ed4 p {
  background-image: linear-gradient(to left, #50d5b7, #067d68);
  margin-left: 25%;
  margin-right: 9.5%;
  padding: 7px;
  padding-left: 15%;
  border: 2px inset white;
  border-radius: 20rem 20rem 20rem 90rem;
  font-family: hand;
  color: white;
  box-shadow: 3px 3px 3px #777;
}
.Education img:hover {
  transform: scale(1.08);
  transition: all 1s ease-in-out;
}



/* Start styling Third box: experience*/
.experience {
  background-image: linear-gradient(to left, #50d5b7, #067d68);
  margin: 5% 0% 0% 0%;
  padding: 1px;
  box-shadow: 0.5px 1px 10px rgb(7, 7, 7);
  border: 0.1px solid rgb(124, 119, 119);
  border-radius: 8%;
  box-shadow: 0px 0px 1rem rgb(68, 65, 65);
}
.title-space {
  float: left;
  width: 20%;
  padding: 8% 0% 2% 5%;
  text-align: center;
  font-family: cursive;
  font-size: 2rem;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px 10px black, 2px 2px 20px #7c0a02, 0 0 7px darkblue;
}
.experience ul li {
  display: block;
  margin-left: -5%;
}
.Ex1 img {
  float: right;
  background-color: white;
  width: 45px;
  height: 40px;
  margin-top: 10px;
  margin-right: 3%;
  border: 1px inset #0b9c69;
  border-radius: 5px;
  box-shadow: 0.5px 1px 2px rgb(7, 7, 7);
  overflow: hidden;
}
.Ex1 p {
  background: white;
  margin-left: 35%;
  margin-right: 10%;
  padding: 7px;
  padding-left: 4%;
  border: 1px inset #0b9c69;
  border-radius: 25px;
  font-family: Georgia, serif;
  font-size: 0.9rem;
  box-shadow: 0.5px 1px 2px rgb(7, 7, 7);
}
.experience img:hover {
  transform: scale(1.08);
  transition: all 1s ease-in-out;
}



/* Start styling fourth box: Skills, three cards, skills typs, */

.Skills {
  background-image: linear-gradient(to left, #f5f7fa, #c3cfe2);
  margin: 5% 0% 0% 0%;
  padding: 1%;
  overflow: hidden;
}
#Languages {
  background-color: white;
  float: right;
  width: 25%;
  height: 12rem;
  margin-right: 3%;
  padding: 1%;
  padding-bottom: 2%;
  border: 10px inset black;
  border-bottom: 50px inset black;
  border-image-source: linear-gradient(170deg, #50d5b7, #067d68, #50d5b7);
  border-image-slice: 100;
  box-shadow: 3px 3px 3px #777;
  line-height: 0.5rem;
}
#Computer {
  background-color: white;
  float: right;
  width: 25%;
  height: 12rem;
  margin-right: 3%;
  padding: 1%;
  padding-bottom: 2%;
  border: 10px inset black;
  border-bottom: 50px inset black;
  border-image-source: linear-gradient(170deg, #50d5b7, #067d68, #50d5b7);
  border-image-slice: 100;
  box-shadow: 3px 3px 3px #777;
  line-height: 0.5rem;
}
#Personal {
  background-color: white;
  float: right;
  width: 25%;
  height: 12rem;
  margin-right: 3%;
  padding: 1%;
  padding-bottom: 2%;
  border: 10px inset black;
  border-bottom: 50px inset black;
  border-image-source: linear-gradient(170deg, #50d5b7, #067d68, #50d5b7);
  border-image-slice: 100;
  box-shadow: 3px 3px 3px #777;
  line-height: 0.5rem;
}
.Skills h2 {
  text-align: center;
  font-family: hand;
  font-style: oblique;
}
.Skills h3 {
  margin-left: 1%;
  margin-bottom: 5%;
  font-size: 0.9rem;
}
.power {
  width: 100%;
  background-color: rgb(226, 225, 225);
}
.Sk {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
}
.Arabic {
  width: 100%;
  background-image: linear-gradient(to right, #597aa7, #537895);
}
.English {
  width: 80%;
  background-image: linear-gradient(to right, #35788f, #6f86d6);
}
.Dutch {
  width: 65%;
  background-image: linear-gradient(to right, #a3bded, #6991c7);
}
.Mat {
  width: 85%;
  background-image: linear-gradient(to right, #13547a, #80d0c7);
}
.Photoshop {
  width: 82%;
  background-image: linear-gradient(to right, #96deda, #50c9c3);
}
.Html {
  width: 40%;
  background-image: linear-gradient(to right, #89f7fe, #50a7c2);
}
.Social {
  width: 90%;
  background-image: linear-gradient(to right, #ff9a9e, #fecfef);
}
.Communication {
  width: 80%;
  background-image: linear-gradient(to right, #ff9a9e, #fad0c4);
}
.Organisational {
  width: 74%;
  background-image: linear-gradient(to right, #ffecd2, #fcb69f);
}



/* Styling last box: footer , text , image*/

#footer {
  background-image: linear-gradient(to left, #50d5b7, #067d68);
  margin: 5% 0% 0% 0%;
  padding: 1%;
  border: 0.1px solid rgb(124, 119, 119);
  border-radius: 8%;
  box-shadow: 0px 0px 1rem rgb(68, 65, 65);
  overflow: hidden;
}
#info {
  float: left;
  width: 30%;
  margin-top: 0;
  margin-left: 5%;
  text-align: justify;
}
#info p {
  font-family: cursive;
  font-size: 0.9rem;
  font-style: italic;
  color: white;
}
#in-image {
  width: 50%;
  height: 14rem;
  margin-left: 45%;
  overflow: hidden;
}
#in-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* End of this file*/