body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(21, 21, 66);
}

/*                     */
.container{
    max-width: 1200px;
}
.btn{
    padding: 1px 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform:initial;
}
.material-icons{
    font-size: 3rem;    
}
main .row .col{
    margin:0px;
    padding: 0px;
}

/*                     */
.brand-logo{
margin: 18px auto;
}
header{
    border:3px solid white;
}
header ul li .material-icons,
header ul li .btn {
margin: 0;
}
header ul li:hover{
    border-top: 3px solid rgb(40, 197, 40);
}
.nav-menu{
margin-left: 110px;
}

/*first-part: Intro part some text and video*/

.first-part .card {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding: 0px;
}
.first-part .card .card-content  {
    padding: 0px;
    padding-right: 100px;
    font-size: 20px;
}
.column-buttons{
    padding-top: 25px;   
}

/*second-part: Intro part with logos of partners*/
.second-part  {
    display: flex;
    flex-direction: row;
    padding: 25px 0;
 }

/*third-part: Intro part with partnership-info*/
.third-part{
    padding: 90px 0;
}
.third-part .card-content p{
    font-size: 18px;
 }
 .third-part a{
     padding-bottom: 10px;
 }
.third-part a:hover{
    border-bottom: 1px solid rgb(40, 197, 40);
}

/*fourth-part: Intro part with some text*/
.fourth-part .card{
    padding: 90px 350px 50px 350px ;
    margin-top: -50px;
}
.fourth-part .card-content p{
    font-size: 18px;
    margin-bottom: 20px;
 }
 .fourth-part a{
     padding-bottom: 10px;
 }
.fourth-part a:hover{
    border-bottom: 1px solid rgb(40, 197, 40);
}
/*fifth-part: Intro part with Online payments info*/
.fifth-part .card{
   display: flex;
   flex-direction: column;
   margin-right: 30px;
}
.fifth-part .card .card-content{
   padding-left: 0%;
   padding-right: 40px;
   font-size: 18px;
   margin-bottom: 20px;
 }
 .fifth-part a{
     padding-bottom: 10px;
     
 }
.fifth-part a:hover{
    border-bottom: 1px solid rgb(40, 197, 40);
}





/* use media queries: for responsive design*/

@media (max-width: 600px) {

.first-part .card {
    margin-top: 0px;
}
.first-part .card h1{
    font-size: 40px;
    font-weight: bold;
}
.first-part .card .card-content  {
    padding: 0px;
    padding-right: 40px;
    font-size: 18px;
}
.column-buttons .btn{
    padding: 0 40px;   
}
.second-part img {
width: 80%;
}
.fourth-part .card{
    padding: 9px 0px;
    margin-top: 0px;
}
.fifth-part .card{
    margin-right: 0px;
}
}

/*
    border:1px solid black;


/*use media queries: for responsive design

@media (max-width: 600px) {
    
  }
  
  
  @media (min-width: 600px) and (max-width: 1024px) {
    
  }