

/*For this week, i tried to rebuild the homepage of Ayden. I have used firstly my css stylesheet but then i used CSS framework
 of materialize step by step with all course' videos. The combination between these sources was harder than i thought.
 It is clear that i need more time to learn and practice framworks,
 so if you can check the another page that i made, it is better than this. Thank you*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(21, 21, 66);
}

/*                     */
.container{
    max-width: 1200px;
}
.btn{
    padding: 1px 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform:initial;
}
.material-icons{
    font-size: 3rem;    
}
main .row .col{
    margin:0px;
    padding: 0px;
}
a{
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
}
a:hover{
   border-bottom: 1px solid rgb(40, 197, 40);
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.card .card-content{
font-size: 18px;
}


/*header and nav-menu*/
.brand-logo{
   margin: 18px auto;
}
header{
   border:3px solid white;
}
header ul li .material-icons,
header ul li .btn {  
   margin: 0;
}
header ul li:hover{
    border-top: 3px solid rgb(40, 197, 40);
}
header ul li a:hover{
    border-bottom: none;
 }
.nav-menu{
 margin-left: 110px;
}

/*first-part: Intro part some text and video*/
.first-part .card {
    margin-top: 90px;
}
.first-part .card .card-content {
    padding: 0px;
    padding-right: 120px;
}
.column-buttons{
    padding-top: 25px;   
}

/*second-part: Intro part with logos of partners*/
.second-part  {
    display: flex;
    flex-direction: row;
    padding: 25px 0;
 }

/*third-part: Intro part with partnership-info*/
.third-part{
    padding: 90px 0;
}

/*fourth-part: Intro part with some text*/
.fourth-part .card{
    padding: 90px 350px 50px 350px ;
    margin-top: -80px;
}
.fourth-part .card-content p{
    margin-bottom: 20px;
}
/*fifth-part: Intro part with Online payments info*/
.fifth-part .item-left{
   margin-right: 30px;
}
.fifth-part .card .card-content{
   padding-left: 0%;
   padding-right: 40px;
   margin-bottom: 20px;
 }
 
/*sixth-part: Intro part with transactions info*/
.sixth-part, .sixth-part .card, .sixth-part .card .card-content{
    background-color: #031033 ;
    color: white;
    padding: 0 30px 10px 0;
}
.sixth-part .item-right{
    margin: 60px 0px 0px 30px;
}
.sixth-part .item-right .card-content{
    padding: 30px 60px 10px 0;
    font-size: 20px;
}
/*seventh-part: Intro part with test account */
.seventh-part, .seventh-part .card, .seventh-part .card-content a{
padding: 15px;
}


/* use media queries: for responsive design*/

@media (max-width: 600px) {
.brand-logo{
    margin-left: 10px;
}
.first-part .card {
    margin-top: 0px;
}
.first-part .card h1{
    font-size: 40px;
    font-weight: bold;
}
.first-part .card .card-content  {
    padding: 0px;
    padding-right: 40px;
    font-size: 18px;
}
.column-buttons .btn{
    padding: 0 60px;   
}
.second-part img {
width: 80%;
}
.fourth-part .card{
    padding: 9px 0px;
    margin-top: 0px;
}
.fourth-part a{
    font-size: 15px;
}
.fifth-part .card{
    margin-right: 0px;
}
.sixth-part .item-right, .sixth-part .item-right .card-content {
    margin: 0;
    padding: 0;
}
}



/*use media queries: for responsive design*/

  @media (min-width: 600px) and (max-width: 1024px) {
 .brand-logo{
        margin-left: 50px;
    }
    .first-part .card {
        margin-top: 0px;
        padding: 0;
    }
    .first-part .card h1{
        margin-top: 0px;
        font-size: 60px;
     }
    .first-part .card .card-content  {
        padding-right: 60px;
        font-size: 18px;
    }
    .column-buttons .btn{
        margin-top: 11px;
        padding: 0 20px;   
    }
    .second-part img {
        width: 80%;
     }
     .fourth-part .card{
        padding: 20px 165px;
     }
     .sixth-part, .sixth-part .card, .sixth-part .card .card-content{
        padding: 0 3px 1px 0;
    }
     .sixth-part .item-right, .sixth-part .item-right .card-content {
        margin: 0;
        padding: 0;
    }
  }